@tailwind utilities;

@layer utilities {
  .position-swap-icon {
    top: 93.5%;
  }

  .position-swap-icon-remove {
    top: 41%;
  }

  /* hiding arrows from number input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
  }
}
